
/* ========================================= */
/* Ocultar elementos */
.hidden {
    display: none;
}

/* Mostrar elementos */
.show {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* ========================================= */
.concursante1, .concursante2, .concursante3 {
    display: none;
}


html {
    scroll-behavior: smooth;
}